.checkout-section {
    padding: 40px 0;
}

.checkout-title {
    margin-bottom: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
}

.checkout-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.2px;
    background: #4e4e4e2d;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
}

.form-label {
    font-weight: 500;
}

.payment {
    background: #fbf9e3;
    padding: 32px;
}

.checkout-section input:not([type="radio"]):not([type="checkbox"]),
.checkout-section select {
    background: rgba(217, 217, 217, 0.27);
    height: 56px;
}

.checkout-section input:focus,
.checkout-section select:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.order-summary p {
    color: #2e2e2e;
    font-weight: 500;
}

.order-summary h6 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 700;
    /* border-bottom: 1px solid; */
}

.checkout-terms p, .checkout-terms a {
    color: #2e2e2e;
}

.checkout-terms a {
    font-weight: 600;
}